.vs/
Tests/Lesson1.Tests/bin/
Tests/Lesson1.Tests/obj/
Lesson1/bin/
Lesson1/obj/
Lesson2/bin/
Lesson2/obj/
Tests/Lesson2.Tests/bin/
Tests/Lesson2.Tests/obj/
Lesson2b/obj
Lesson2b/bin
Tests/Lesson2b.Tests/bin
Tests/Lesson2b.Tests/obj
Lesson3a/bin/
Lesson3a/obj
Tests/Lesson3.Tests/bin
Tests/Lesson3.Tests/obj
Lesson4/obj/
Lesson4/bin/
Tests/Lesson4.Tests/bin/
Tests/Lesson4.Tests/obj/
