.vs/
Tests/Lesson1.Tests/bin/
Tests/Lesson1.Tests/obj/
Lesson1/bin/
Lesson1/obj/
Lesson2/bin/
Lesson2/obj/
Tests/Lesson2.Tests/bin/
Tests/Lesson2.Tests/obj/
Lesson2b/obj
Lesson2b/bin
Tests/Lesson2b.Tests/bin
Tests/Lesson2b.Tests/obj
